---
layout: default
meta-title: NusantaraID | Real Estate Project
---
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Title Page</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<main class="page-content ptb-30">

    <!-- Contact Us Area -->

    <div class="container text-center">

        <img src="assets/images/vector/comingsoon.png" alt="" class="w-50">

        <div class="mt-30">
            <p>Halaman ini masih dalam pengembagan, mohon bersabar</p>
            <button class="btn btn-secondary"><i class="mdi mdi-arrange-bring-forward"></i>Kembali</button>
        </div>

    </div>


</main>
