---
layout: default
meta-title: NusantaraID | Real Estate Project
---

<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Order</li>
                <li>Detail Order</li>
            </ul>
        </div>
    </div>
</div>
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Daftar Pembelian</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-vcenter">
                                <tr class="bg-light">
                                    <td>
                                        <div class="small text-muted">NO. TRANSAKSI</div>
                                        <div class=" fw-600">170554772792</div>
                                    </td>
                                    <td>
                                        <div class="small text-muted">Penjual</div>
                                        <a class="fw-600" href="#">Juragan Store</a>
                                    </td>
                                    <td class="text-center">

                                        <div class=" fw-600"><i class="mdi mdi-chat"></i> Chat Penjual</div>
                                    </td>
                                </tr>
                                <tr class="bg-light">
                                    <td colspan="3">
                                        <div class="small text-muted text-uppercase">CATATAN UNTUK PENJUAL</div>
                                        <div class=" fw-600">“Ukuran M, Jaket Sweater Polos Hoodie Jumper Biru Navy”</div>
                                    </td>

                                </tr>
                                <tr class="bg-light">
                                    <td colspan="3">
                                        <div class="item" href="#">
                                            <div class="w-10 mr-5" >
                                                <img src="assets/images/product/1.jpg" class="img-sm">
                                            </div>
                                            <div class="w-70">
                                                <a class="fw-600 text-primary">Lorem ipsum dolor sit amet</a>
                                                <div > Jumlah: 1</div>
                                                <div > Berat: 500 Gram</div>
                                            </div>
                                            <div class="w-20 text-right">
                                                <div class="fw-600"> Rp. 600.000</div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="small text-muted">JASA PENGIRIMAN</div>
                                        <div class=" fw-600">JEN</div>
                                    </td>
                                    <td>
                                        <div class="small text-muted">NO RESI</div>
                                        <a class="fw-600" href="#">BRQ12345648</a>
                                    </td>
                                    <td class="text-center">
                                        <a class=" fw-600 text-primary" href="#"><i class="mdi mdi-history"></i> History Pengiriman</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="small text-muted">ESTIMASI BARANG SAMPAI</div>
                                        <div class=" fw-600">Senin, 20 November 2018, 09:51 WIB</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="small text-muted">KETERANGAN</div>
                                        <div class=" fw-600">Barang telah diterima pada Senin, 20 November 2017 pukul 17:22 WIB.</div>
                                    </td>
                                </tr>
                            </table>
                        <table class="table table-bordered table-vcenter">
                            <tr class="bg-light">
                                <td>
                                    <div class="small text-muted">NO. TRANSAKSI</div>
                                    <div class=" fw-600">170554772792</div>
                                </td>
                                <td>
                                    <div class="small text-muted">Penjual</div>
                                    <a class="fw-600" href="#">Juragan Store</a>
                                </td>
                                <td class="text-center">

                                    <div class=" fw-600"><i class="mdi mdi-chat"></i> Chat Penjual</div>
                                </td>
                            </tr>
                            <tr class="bg-light">
                                <td colspan="3">
                                    <div class="small text-muted text-uppercase">CATATAN UNTUK PENJUAL</div>
                                    <div class=" fw-600">“Ukuran M, Jaket Sweater Polos Hoodie Jumper Biru Navy”</div>
                                </td>

                            </tr>
                            <tr class="bg-light">
                                <td colspan="3">
                                    <div class="item" href="#">
                                        <div class="w-10 mr-5" >
                                            <img src="assets/images/product/2.jpg" class="img-sm">
                                        </div>
                                        <div class="w-70">
                                            <a class="fw-600 text-primary">Lorem ipsum dolor sit amet</a>
                                            <div > Jumlah: 1</div>
                                            <div > Berat: 500 Gram</div>
                                        </div>
                                        <div class="w-20 text-right">
                                            <div class="fw-600"> Rp. 600.000</div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="small text-muted">JASA PENGIRIMAN</div>
                                    <div class=" fw-600">JEN</div>
                                </td>
                                <td>
                                    <div class="small text-muted">NO RESI</div>
                                    <a class="fw-600" href="#">BRQ12345648</a>
                                </td>
                                <td class="text-center">
                                    <a class=" fw-600 text-primary" href="#"><i class="mdi mdi-history"></i> History Pengiriman</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="small text-muted">ESTIMASI BARANG SAMPAI</div>
                                    <div class=" fw-600">Senin, 20 November 2018, 09:51 WIB</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="small text-muted">KETERANGAN</div>
                                    <div class=" fw-600">Barang telah diterima pada Senin, 20 November 2017 pukul 17:22 WIB.</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="small text-muted">STATUS TAGIHAN</div>
                        <div class=" fw-600">Dibayar (15 Nov 2017, 15:38 WIB)</div>
                        <hr>
                        <div class="small text-muted">STATUS TAGIHAN</div>
                        <div class=" fw-600">Dibayar (15 Nov 2017, 15:38 WIB)</div>
                        <hr>
                        <div class="small text-muted">METODE PEMBAYARAN</div>
                        <div class=" fw-600">Bank BRI</div>
                        <hr>
                        <div class="small text-muted">TOTAL PEMBAYARAN</div>
                        <div class=" fw-600">Rp.600.000</div>
                        <hr>
                        <div class="small text-muted">ALAMAT PENGIRIMAN</div>
                        <div class=" fw-600">Syukur Mei Rahmat Zai</div>
                        <address >Kosan Lentera, Jl Manga Dua No 76 <br>
                                Sukapura, Dayoutkolot <br>
                            indonesia
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
