---
layout: default
meta-title: NusantaraID | Real Estate Project
---
{{>hero}}


<!-- Page Conttent -->
<main class="page-content">

    <!-- Banner Area -->
    <div class="banner-area">
        <div class="container">
            <div class="imgbanner imgbanner-2 mt-30">
                <a href="detail.html">
                    <img src="assets/images/banner/banner-horizontal.jpg" alt="banner">
                </a>
            </div>
        </div>
    </div>
    <!--// Banner Area -->


    <!--<div class="section deal-of-the-day-area bg-white ptb-30">-->
    <!--<div class="container">-->
    <!--<div class="section-title">-->
    <!--<h3>FLASH SALE</h3>-->
    <!--</div>-->
    <!--<div class="product-slider flash-sale-slider slider-navigation-2 slider-dots">-->
    <!--{{#each product}}-->
    <!--<div class="slider-item-col">-->
    <!--<article class="product product-2">-->
    <!--<div class="product-image">-->

    <!--<a class="product-thumb" href="detail.html">-->
    <!--<img class="product-frontimage" src="assets/images/product/{{this.image}}"-->
    <!--alt="product image">-->
    <!--<img class="product-backimage" src="assets/images/img-2.jpg"-->
    <!--alt="product image">-->
    <!--</a>-->

    <!--<ul class="product-flags">-->

    <!--<li class="flag-discount">-15%</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="product-countdown countdown" data-countdown="2020/12/12"></div>-->
    <!--<div class="product-content">-->
    <!--<h5 class="product-title"><a href="detail.html">{{this.title}}</a></h5>-->
    <!--<div class="product-rattingbox">-->
    <!--<h6>1 Review(s)</h6>-->
    <!--<div class="rattingbox">-->
    <!--<span class="active"><i class="ion ion-ios-star"></i></span>-->
    <!--<span class="active"><i class="ion ion-ios-star"></i></span>-->
    <!--<span class="active"><i class="ion ion-ios-star"></i></span>-->
    <!--<span class="active"><i class="ion ion-ios-star"></i></span>-->
    <!--<span class="active"><i class="ion ion-ios-star"></i></span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="product-pricebox">-->
    <!--<div class="pricebox">-->
    <!--<del class="oldprice">Rp. 300.000</del>-->
    <!--<span class="price">Rp. 200.000</span>-->
    <!--</div>-->
    <!--<span class="discount">-5%</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</article>-->
    <!--</div>-->
    <!--{{/each}}-->
    <!--&lt;!&ndash;Product &ndash;&gt;-->


    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <div class="section latest-products-area mtb-30">
        <div class="container">
            <div class="section-title">
                <h3>LATEST PRODUCTS</h3>
            </div>
            <div class="product-slider new-best-featured-slider slider-navigation-2">
                {{#each product}}
                <div class="slider-item-col">
                    <!-- Single Product -->
                    <article class="product">
                        <div class="product-image">
                            <a class="product-thumb" href="detail.html">
                                <img class="product-frontimage" src="assets/images/product/{{this.image}}"
                                     alt="product image">
                                <img class="product-backimage" src="assets/images/img-1.jpg"
                                     alt="product image">
                            </a>
                            <ul class="product-actionbox">
                                <li><a href="#"><i class="icon-cart"></i></a></li>

                                <li><a href="#"><i class="icon-like"></i></a></li>
                            </ul>
                            <ul class="product-flags">

                                <li class="flag-discount">-15%</li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <h5 class="product-title"><a href="detail.html">SonicFuel Wireless
                                Over-Ear
                                Headphones</a></h5>

                            <div class="product-pricebox">
                                <div class="pricebox">
                                    <del class="oldprice ">Rp. 500.000</del>
                                    <span class="price">Rp. 300.000</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--// Single Product -->
                </div>
                {{/each}}
            </div>
        </div>
    </div>


    <!-- Banners Area -->
    <div class="banners-area bg-white">
        <div class="container">
            <div class="row">

                <!-- Single Banner -->
                <div class="col-md-4">
                    <div class="imgbanner mt-30">
                        <a href="detail.html">
                            <img src="assets/images/banner/banner1.jpg" alt="bannner image">
                        </a>
                    </div>
                </div>
                <!--// Single Banner -->

                <!-- Single Banner -->
                <div class="col-md-4">
                    <div class="imgbanner mt-30">
                        <a href="detail.html">
                            <img src="assets/images/banner/banner2.jpg" alt="bannner image">
                        </a>
                    </div>
                </div>
                <!--// Single Banner -->

                <!-- Single Banner -->
                <div class="col-md-4">
                    <div class="imgbanner mt-30">
                        <a href="detail.html">
                            <img src="assets/images/banner/banner3.jpg" alt="bannner image">
                        </a>
                    </div>
                </div>
                <!--// Single Banner -->

            </div>
        </div>
    </div>
    <!--// Banners Area -->


    <div class="trending-products-area ptb-30">
        <div class="container">
            <div class="section-title">
                <h3>TRENDING PRODUCTS</h3>
                <ul class="nav" id="trandingTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="trandingtab-1" data-toggle="tab" href="#trandingtab-area1"
                           role="tab"
                           aria-controls="bstab1-area1" aria-selected="true">TRANDING TAB 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="trandingtab-2" data-toggle="tab" href="#trandingtab-area2" role="tab"
                           aria-selected="false">TRANDING TAB 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="trandingtab-3" data-toggle="tab" href="#trandingtab-area3" role="tab"
                           aria-controls="bstab1-area3"
                           aria-selected="false">TRANDING TAB 3</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="tranding-tab-content">
                <div class="tab-pane fade show active" id="trandingtab-area1" role="tabpanel"
                     aria-labelledby="trandingtab-area1">
                    <div class="product-slider trending-products-slider slider-navigation-2">
                        {{#each product}}
                        <div class="slider-item-col">
                            <!-- Single Product -->
                            <article class="product product-3">
                                <div class="product-image">
                                    <a class="product-thumb" href="detail.html">
                                        <img class="product-frontimage" src="assets/images/product/{{this.image}}"
                                             alt="product image">
                                        <img class="product-backimage" src="assets/images/product/{{this.image}}"
                                             alt="product image">
                                        <!--gambar product-backimage adalah bolak balik preview-->
                                    </a>
                                    <ul class="product-actionbox">
                                        <li><a href="#"><i class="icon-cart"></i></a></li>

                                        <li><a href="#"><i class="icon-like"></i></a></li>
                                    </ul>
                                    <ul class="product-flags">

                                        <li class="flag-discount">-15%</li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-title"><a href="detail.html">SonicFuel
                                        Wireless
                                        Over-Ear Headphones</a></h5>
                                    <div class="product-rattingbox">
                                        <div class="rattingbox">
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="product-pricebox">
                                        <div class="pricebox">
                                            <del class="oldprice">Rp. 300.000</del>
                                            <span class="price">Rp. 300.000</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Product -->

                            <!-- Single Product -->
                            <article class="product product-3">
                                <div class="product-image">
                                    <a class="product-thumb" href="detail.html">
                                        <img class="product-frontimage" src="assets/images/img-1.jpg"
                                             alt="product image">
                                        <img class="product-backimage" src="assets/images/img-1.jpg"
                                             alt="product image">
                                    </a>
                                    <ul class="product-actionbox">
                                        <li><a href="#"><i class="icon-cart"></i></a></li>

                                        <li><a href="#"><i class="icon-like"></i></a></li>
                                    </ul>
                                    <ul class="product-flags">

                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-title"><a href="detail.html">SonicFuel
                                        Wireless
                                        Over-Ear Headphones</a></h5>
                                    <div class="product-rattingbox">
                                        <div class="rattingbox">
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="product-pricebox">
                                        <div class="pricebox">
                                            <del class="oldprice">Rp. 300.000</del>
                                            <span class="price">Rp. 200.000</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Product -->
                        </div>

                        {{/each}}

                    </div>
                </div>
                <div class="tab-pane fade" id="trandingtab-area2" role="tabpanel" aria-labelledby="trandingtab-area2">
                    <div class="product-slider trending-products-slider slider-navigation-2">

                        {{#each product}}
                        <div class="slider-item-col">
                            <!-- Single Product -->
                            <article class="product product-3">
                                <div class="product-image">
                                    <a class="product-thumb" href="detail.html">
                                        <img class="product-frontimage" src="assets/images/product/{{this.image}}"
                                             alt="product image">
                                        <img class="product-backimage" src="assets/images/product/{{this.image}}"
                                             alt="product image">
                                        <!--gambar product-backimage adalah bolak balik preview-->
                                    </a>
                                    <ul class="product-actionbox">
                                        <li><a href="#"><i class="icon-cart"></i></a></li>

                                        <li><a href="#"><i class="icon-like"></i></a></li>
                                    </ul>
                                    <ul class="product-flags">

                                        <li class="flag-discount">-15%</li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-title"><a href="detail.html">SonicFuel
                                        Wireless
                                        Over-Ear Headphones</a></h5>
                                    <div class="product-rattingbox">
                                        <div class="rattingbox">
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="product-pricebox">
                                        <div class="pricebox">
                                            <del class="oldprice">Rp. 300.000</del>
                                            <span class="price">Rp. 200.000</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Product -->

                            <!-- Single Product -->
                            <article class="product product-3">
                                <div class="product-image">
                                    <a class="product-thumb" href="detail.html">
                                        <img class="product-frontimage" src="assets/images/img-1.jpg"
                                             alt="product image">
                                        <img class="product-backimage" src="assets/images/img-1.jpg"
                                             alt="product image">
                                    </a>
                                    <ul class="product-actionbox">
                                        <li><a href="#"><i class="icon-cart"></i></a></li>

                                        <li><a href="#"><i class="icon-like"></i></a></li>
                                    </ul>
                                    <ul class="product-flags">

                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-title"><a href="detail.html">SonicFuel
                                        Wireless
                                        Over-Ear Headphones</a></h5>
                                    <div class="product-rattingbox">
                                        <div class="rattingbox">
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="product-pricebox">
                                        <div class="pricebox">
                                            <del class="oldprice">Rp. 300.000</del>
                                            <span class="price">Rp. 200.000</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Product -->
                        </div>

                        {{/each}}

                    </div>
                </div>
                <div class="tab-pane fade" id="trandingtab-area3" role="tabpanel" aria-labelledby="trandingtab-area3">
                    <div class="product-slider trending-products-slider slider-navigation-2">

                        {{#each product}}
                        <div class="slider-item-col">
                            <!-- Single Product -->
                            <article class="product product-3">
                                <div class="product-image">
                                    <a class="product-thumb" href="detail.html">
                                        <img class="product-frontimage" src="assets/images/product/{{this.image}}"
                                             alt="product image">
                                        <img class="product-backimage" src="assets/images/product/{{this.image}}"
                                             alt="product image">
                                        <!--gambar product-backimage adalah bolak balik preview-->
                                    </a>
                                    <ul class="product-actionbox">
                                        <li><a href="#"><i class="icon-cart"></i></a></li>

                                        <li><a href="#"><i class="icon-like"></i></a></li>
                                    </ul>
                                    <ul class="product-flags">

                                        <li class="flag-discount">-15%</li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-title"><a href="detail.html">SonicFuel
                                        Wireless
                                        Over-Ear Headphones</a></h5>
                                    <div class="product-rattingbox">
                                        <div class="rattingbox">
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="product-pricebox">
                                        <div class="pricebox">
                                            <del class="oldprice">Rp. 300.000</del>
                                            <span class="price">Rp. 200.000</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Product -->

                            <!-- Single Product -->
                            <article class="product product-3">
                                <div class="product-image">
                                    <a class="product-thumb" href="detail.html">
                                        <img class="product-frontimage" src="assets/images/img-1.jpg"
                                             alt="product image">
                                        <img class="product-backimage" src="assets/images/img-1.jpg"
                                             alt="product image">
                                    </a>
                                    <ul class="product-actionbox">
                                        <li><a href="#"><i class="icon-cart"></i></a></li>

                                        <li><a href="#"><i class="icon-like"></i></a></li>
                                    </ul>
                                    <ul class="product-flags">

                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h5 class="product-title"><a href="detail.html">SonicFuel
                                        Wireless
                                        Over-Ear Headphones</a></h5>
                                    <div class="product-rattingbox">
                                        <div class="rattingbox">
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                            <span class="active"><i class="ion ion-ios-star"></i></span>
                                        </div>
                                    </div>
                                    <div class="product-pricebox">
                                        <div class="pricebox">
                                            <del class="oldprice">Rp. 300.000</del>
                                            <span class="price">Rp. 200.000</span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Product -->
                        </div>

                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="latest-blog-area bg-white ptb-40">
        <div class="container">
            <div class="section-title">
                <h3>BLOG</h3>
                <ul class="nav" id="blogtabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="article_tab" data-toggle="tab" href="#article_area"
                           role="tab"
                           aria-controls="bstab1-area1" aria-selected="true">ARTICLE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="hasanah_tab" data-toggle="tab" href="#hasanah_islam_area" role="tab"
                           aria-controls="hasnah_tab"
                           aria-selected="false">Hasanah Islam</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="blog-tab-content">
                <div class="tab-pane fade show active" id="article_area" role="tabpanel" aria-labelledby="article_area">
                    <div class="product-slider blogitem-slider slider-navigation-2">

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog1.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href="blog-detail.html">Article Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit.</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog3.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href="blog-detail.html">Article Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit.</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog3.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href="blog-detail.html">Article Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit.</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog4.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href="blog-detail.html">5 Inspirasi Baju Kerja
                                        Wanita ala
                                        Selebgram</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="hasanah_islam_area" role="tabpanel"
                     aria-labelledby="hasanah_islam_tab_area">
                    <div class="product-slider blogitem-slider slider-navigation-2">

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog1.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href="blog-detail.html">Hasnah Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit.</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog3.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href="blog-detail.html">Hasnah Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit.</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog3.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href=blog-detail.html">Hasnah Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit.</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                        <div class="slider-item-col">
                            <!-- Single Blog -->
                            <article class="blogitem">
                                <div class="blogitem-thumb">
                                    <a href="blog-detail.html">
                                        <img src="assets/images/blog/blog4.jpg" alt="blog item image">
                                    </a>
                                </div>
                                <div class="blogitem-content">
                                    <h4 class="blogitem-title"><a href="blog-detail.html">Hasnah Lorem ipsum dolor sit
                                        amet, consectetur adipisicing elit.</a></h4>
                                    <div class="blogitem-meta">
                                        <span class="blogitem-date"><i
                                                class="ion ion-md-calendar"></i> July 11, 2018</span>
                                        <span class="blogitem-author"><a href="blog.html"><i
                                                class="ion ion-md-person"></i>By Admin</a></span>
                                    </div>
                                </div>
                            </article>
                            <!--// Single Blog -->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="media-islami-area bg-grey ptb-30">
        <div class="container">
            <div class="section-title">
                <h3>MEDIA ISLAMI</h3>
            </div>
            <div class="media-islami-slider slider-navigation-3 ptb-30">
                {{#repeat 10}}

                <a class="media-islami-item text-center" href="comingsoon.html">
                    <img src="assets/images/icons/media_logo.png" alt="">
                    <div>Media Islamic</div>
                </a>

                {{/repeat}}

            </div>
        </div>
    </div>
    <!--// Brand Logo Area -->


</main>

