<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Mitra Kami</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->
<main class="page-content">


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="imgbanner mt-30">
                    <a href="mitra-personal.html">
                        <img src="assets/images/banner/banner1.jpg" alt="bannner image">
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="imgbanner mt-30">
                    <a href="mitra-terdaftar.html">
                        <img src="assets/images/banner/banner2.jpg" alt="bannner image">
                    </a>
                </div>
            </div>
            <!--// Single Banner -->


        </div>
    </div>


    <!-- Team Area -->
    <div class="pt-30 mb-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h3><strong>MITRA FAQ</strong></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">



                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="faqbox">
                            <i class="icon-commerce-process"></i>
                            <h5>Cara Berjualan</h5>

                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="faqbox">
                            <i class="icon-commerce-process"></i>
                            <h5>Cara Berjualan</h5>

                        </div>
                    </a>

                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="faqbox">
                            <i class="icon-commerce-process"></i>
                            <h5>Cara Berjualan</h5>

                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="faqbox">
                            <i class="icon-commerce-process"></i>
                            <h5>Cara Berjualan</h5>

                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="faqbox">
                            <i class="icon-commerce-process"></i>
                            <h5>Cara Berjualan</h5>

                        </div>
                    </a>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <a href="#">
                        <div class="faqbox">
                            <i class="icon-commerce-process"></i>
                            <h5>Cara Berjualan</h5>

                        </div>
                    </a>

                </div>








            </div>
        </div>
    </div>
    <!--// Team Area -->


</main>