---
layout: default
meta-title: NusantaraID | Real Estate Project
---

<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Order</li>

            </ul>
        </div>
    </div>
</div>

<main class="page-content ptb-30">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="order-wraper ">
                    {{#repeat 5}}

                    <div class="items-wrap">

                        <div class="item bg-light">
                            <div class="w-40">
                                <div class="small text-muted">NO. TAGIHAN</div>
                                <div class=" fw-600">BRQ19126TSZWTINV</div>
                                <div class="small text-muted">08 Februari 2019 09.59 WIB</div>
                            </div>
                            <div class="w-20">
                                <div class="small text-muted">TOTAL TAGIHAN</div>
                                <div class=" fw-600">RP.600.000</div>
                            </div>
                            <div class="w-20">
                                <div class="small text-muted">NO. TRANSAKSI</div>
                                <div class=" fw-600">170554772792</div>
                            </div>
                            <div class="w-20 text-right">
                                <a class="btn btn-sm btn-outline-primary" href="detail-order.html">Lihat Detail</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="w-40">
                                <div class="small text-muted">BARANG</div>
                                <div class="d-inline">
                                    <img  class="img-sm mr-5"src="assets/images/product/1.jpg">
                                    BRQ19126TSZWTINV
                                </div>
                            </div>
                            <div class="w-20">
                                <div class="small text-muted">PENJUAL</div>
                                <div class=" fw-600">JURAGAN</div>
                                <a href="chat.html" class="text-primary">Chat Penjual</a>
                            </div>
                            <div class="w-20">
                                <div class="small text-muted">STATUS PEMBELIAN</div>
                                <div class=" fw-600">Sedang Dikirim</div>
                                <a href="#" class="text-primary">Lacak Pesanan</a>
                            </div>
                            <div class="w-20 text-right">
                                <a class="btn btn-sm btn-primary"> Terima Barang</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="w-40">
                                <div class="small text-muted">BARANG</div>
                                <div class="d-inline">
                                    <img class="img-sm mr-5" src="assets/images/product/2.jpg" >
                                    BRQ19126TSZWTINV
                                </div>
                            </div>
                            <div class="w-20">
                                <div class="small text-muted">PENJUAL</div>
                                <div class=" fw-600">LAPAK DUA</div>
                                <a href="chat.html" class="text-primary">Chat Penjual</a>
                            </div>
                            <div class="w-20">
                                <div class="small text-muted">STATUS PEMBELIAN</div>
                                <div class=" fw-600">Menunggu Pembayaran</div>
                                <a href="#" class="text-primary">Konfirmasi Pembayaran</a>
                            </div>
                            <div class="w-20 text-right">
                                <a class="btn btn-sm btn-grey"> Beli Lagi</a>
                            </div>
                        </div>
                    </div>

                    {{/repeat}}

                </div>
            </div>
        </div>


    </div>


</main>