---
layout: default
meta-title: NusantaraID | Real Estate Project
---
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Title Page</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<main class="page-content ptb-30">

    <!-- Contact Us Area -->

    <div class="container text-center">

        <img src="assets/images/vector/cart.png" alt="" >

        <div class="mt-30">
            <h2>TERIMA KASIH</h2>
                <H6> Sudah Berbelanja di  BOORAQ.id</H6>
            <hr>
            <p>Kami selalu berusaha agar pesanan anda sampai secepanya, karena pesanan anda mungkin datang secara terpisah
                <br> dalam waktu yang berbeda</p>

            <a class="btn btn-outline-secondary"><i class="mdi icon-arrow-back"></i>Kembali Ke Home</a>

        </div>

    </div>


</main>
