---
layout: default
meta-title: NusantaraID | Real Estate Project
---
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Title Page</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<main class="page-content ptb-30">

    <!-- Contact Us Area -->

    <div class="container text-center">

        <img src="assets/images/vector/email.png" alt="" >

        <div class="mt-30">
            <h3>TERIMA KASIH</h3>
                <H6> Telah medaftar sebagai seller / cutomer di BOORAQ.id</H6>
            <hr>
            <p>Alat email akun booraq anda harus diferifikasi. silahkan buka email anda lalu ikuti instruksi verifikasi pendaftaran</p>

            <button class="btn btn-outline-secondary"><i class="mdi icon-arrow-back"></i>Home</button>
            <button class="btn btn-outline-secondary"><i class="mdi mdi-email"></i>Kirim Ulang</button>
        </div>

    </div>


</main>
