<!-- Hero Area -->
<div class="herobanner herobanner-2 slider-navigation slider-dots slider-dots-center">

    <!-- Herobanner Single -->
    <div class="herobanner-single">
        <img src="assets/images/slider/hero-image-3.jpg" alt="hero image">

        <span class="herobanner-progress"></span>
    </div>
    <!--// Herobanner Single -->

    <!-- Herobanner Single -->
    <div class="herobanner-single">
        <img src="assets/images/slider/hero-image-4.jpg" alt="hero image">

    </div>
    <!--// Herobanner Single -->

</div>
<!--// Hero Area -->
