<!-- Newsletter Area -->
<div class="section newsletter-area bg-grey ptb-50">
    <div class="container">
        <div class="newsletter">
            <div class="newsletter-title">
                <h2>Subscribe to our <span>Newsletter!</span></h2>

            </div>
            <div class="newsletter-content">
                <form id="mc-form" class="newsletter-form" novalidate="true">
                    <input id="mc-email" class="form-control" type="email" name="EMAIL"  autocomplete="off" placeholder="Your email address..." >
                    <button id="mc-submit" type="submit">Subscribe</button>
                </form>

                <div class="mailchimp-alerts text-centre">
                    <div class="mailchimp-submitting"></div>
                    <div class="mailchimp-success"></div>
                    <div class="mailchimp-error"></div>
                </div>
            </div>
            <div class="newsletter-socialicons socialicons socialicons-radial">
                <ul>
                    <li><a href="#"><i class="ion ion-logo-facebook"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-twitter"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-youtube"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-google"></i></a></li>
                    <li><a href="#"><i class="ion ion-logo-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// Newsletter Area -->