

.chat-main-box {
  position: relative;
  overflow: hidden;
  background: $white;
  .chat-left-aside {
    position: relative;
    width: 350px;
    float: left;
    z-index: 9;
    top: 0px;
    border-right: 1px solid $border-color;
    .chat-left-header{
      padding: 10px 20px;
    }
    .chat-item-container {
      position: relative;
      list-style-type: none;
      padding: 0;
    }
    .chat-item{
      display: flex;
      padding: 10px 20px 0 20px;
      &.active{
        border-left: 2px solid $primary-color;
        background: #f8f9fa;
      }
      .chat-img-profile{
        display: inline-block;
        width: 40px;
        vertical-align: top;
        margin-right: 15px;
        img {
          width: 40px;
          border-radius: 100%;
        }
      }
      .chat-text{
        flex-grow: 1;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;


      }
    }
  }
  .chat-right-aside {
    width: calc(100% - 350px);
    float:left;
    .chat-rbox{
      height: auto;
      position: relative;
    }
    .chat-main-header{
      padding: 20px;
      border-bottom: 1px solid $border-color;
      display: flex;
    }
    .chat-list {
      max-height: none;
      height: 100%;
      padding-top: 40px;
      .chat-text {
        border-radius: 6px;
      }
      li .chat-time {
        display: block;
        text-align: left;
      }
      li.reverse .chat-time{
        margin-left: auto;
        text-align: right;
      }
    }
    .send-chat-box {
      position: relative;
      .form-control {
        border: none;
        border-top: 1px solid $border-color;
        resize: none;
        height: 80px;
        padding-right: 180px;
        &:focus {
          border-color: $border-color;
        }
      }
      .custom-send {
        position: absolute;
        right: 20px;
        bottom: 10px;
        .cst-icon {
          color: $body-color;
          margin-right: 10px;
        }
      }
    }
  }
}

.chat-list {
  margin: 0px;
  padding: 0px;
  li {
    list-style: none;
    margin-top: 30px;
    .chat-img {
      display: inline-block;
      width: 45px;
      vertical-align: top;
      img {
        width: 45px;
        border-radius: 100%;
      }
    }
    .chat-content {
      width: calc(100% - 50px);
      display: inline-block;
      padding-left: 15px;
      h5 {
        color: $text-muted;
      }
      .box {
        display: inline-block;

        color:$gray-800;
        background: $gray-100;
      }
    }
    .chat-time {
      display: block;
      font-size: 10px;
      color: $text-muted;
      margin:5px 0 15px 65px;
    }
    &.odd {
      .chat-content {
        text-align: right;
        width: calc(100% - 0px);
      }
      .chat-time{
        text-align:right;
      }
      .box {
        clear: both;
        color:$white;
        background: $primary-color;
      }
    }
    &.odd + .odd {
      margin-top: 0px;
    }
    &.reverse {
      text-align: right;
      .chat-time {
        text-align: left;
      }
      .chat-content {
        padding-left: 0px;
        padding-right: 15px;
      }
    }
  }
}


/*******************/
/*Chat widget*/
/*******************/





